CohereAPIKey="your api key here"
Username="your user name here"
Assistantname="your app name here"
GroqAPIKey="your pi key here"
InputLanguage="en"
AssistantVoice="en-US-AriaNeural"
GoogleAPIKey="your api key here"
HuggingFaceAPIKey="your api key here"
XAI_API_KEY="your api key here"
GoogleCX="your api key here"
GoogleCSEId="your api key here"
GEMINI_API_KEY="your api key here"
REPLICATE_API_KEY="your api key here"
GrokAPIKey="your api key here"
MicrophoneDeviceIndex="-1"
MaxConversationMemory="30"
SilenceTimeout="0.8"
RUNWAYML_API_KEY="your api key here"